alabaster==0.7.12
altgraph==0.16.1
atomicwrites==1.2.1
attrs==18.2.0
babel==2.6.0
certifi==2018.8.24
chardet==3.0.4
colorama==0.4.0
docutils==0.14
future==0.16.0
idna==2.7
imagesize==1.1.0
jinja2==2.10
macholib==1.11
markupsafe==1.0
more-itertools==4.3.0
packaging==18.0
pefile==2018.8.8
pluggy==0.8.0
py==1.7.0
py4j==0.10.7
pygments==2.2.0
PyInstaller==3.4
pyparsing==2.2.2
pypubsub==4.0.0
pytest==3.9.1
pytz==2018.5
pywin32-ctypes==0.2.0
requests==2.19.1
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
sql-editor==0.0.3
sqlalchemy==1.2.12
sqlparse==0.2.4
urllib3==1.23
wxpython==4.0.3
